
div {
	margin: 0 auto;
	width: 500px;
	height: 200px;
	text-align: center;
}
#page1 {
	background: red;
	width: 100%;
}

#page2 {
	background: green;
	width: 100%;
}	 

#page3 {
	background: blue;
	width: 100%;
}

h1 {
	font-size: 3rem;
}

a {
	font-size: 2rem;
	text-decoration: none;
	text-transform: capitalize;
}


.js-hidden {
	visibility: hidden;

}